@use '../custom' as*;
body {
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 2em;
    .sign-up-container{
        @include media-breakpoint-down(sm){
            flex-wrap: wrap-reverse;
        }
        
    }
}
.sign-up-left{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 1em;
    .sign-up-img-1{
        height: 80vh;
        border-radius: 10px;
        
        @include media-breakpoint-down(xl){
            height: 35vh;
        }
        @include media-breakpoint-down(md){
            height: 70vh;
       
        }
        @include media-breakpoint-down(sm){
            height: 50vh;
       
        }
    }
    .sign-up-img-2{
        display: none;
        @include media-breakpoint-down(xl){
            display: block;
            height: 35vh;
            border-radius: 10px;
        }
        @include media-breakpoint-down(md){
            display: none;
       
        }
    }
}
.sign-up-right{
    padding-left: 5em;
    @include media-breakpoint-down(xl){
        padding-left: 2em;
    }
    @include media-breakpoint-down(md){
        padding-left: 1em;
    }
}
.names-top{
    gap: 2em;
    margin-top: 1.2em;
   
    @include media-breakpoint-down(sm){
        flex-direction: column;
        gap: 0em;
    }
}
.form-container {
    max-width: 70%;
    @include media-breakpoint-down(xl){
        max-width: 100%;
    }
    border-radius: 10px;
    .have-an-account{
        margin-top: 2em;
    }
}

.form-group {
    margin-bottom: 20px;
    .form-control{/* Rectangle 2 */
        padding: 10px;
        box-sizing: border-box;
        background: transparent;
        border: 1px solid #887DB5;
        border-radius: 5px;
    }
}
.btn-primary {/* Frame 1 */
    padding: 10px;
    background: #6E54B5;
    border-radius: 5px;
    background-color: #673AB7;
    border-color: #673AB7;
}

.btn-primary:hover {
    background-color: #8e54e9;
    border-color: #8e54e9;
}

.google-btn {
    background-color: #fff;
    border-color: #fff;
    color: #4285F4;
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 1.2em;
}

.google-btn:hover {
    background-color: #f0f0f0;
}

.back-to-chat {
    text-align: center;
    margin-top: 20px;
}
.submit-details{
    width: 100%     ;
}
.or-register{
    margin-top: 1em;
}